@import '../../assets/styles/variables';

.series-gallery{
    display: flex;
    flex-direction: column;

    .series-item{
        width: 100%;
        cursor: pointer;

        img {
            width: 100%;
            display: block;
        }

        h2 {
            margin: $space-1 0 $space-4 0;
            color: white;
            font-weight: normal;
        } 
    }
}