@import '../../assets//styles/variables';

.series-content {

    .series-info{
        background-color: $color-background;
        padding: $space-3 $space-4;
        margin-bottom: $space-3;

        h1 {margin: 0 0 $space-1 0; font-weight: normal;}
        p {margin: 0 0 $space-1 0;}
        .dimension {font-style: italic;}
        .year {margin-bottom: $space-3;}
    }

    .back-link{
        color:$color-text-light;
        text-decoration: none;
    }
}