@import '../../assets/styles/variables';

*, *::before, *::after {box-sizing: border-box;}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    padding: $space-4;
    margin-left: $space-4;
    margin-top: $space-4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-5;

    .navbar-logo a {
        font-size: 60px;
        text-decoration: none;
        color: $color-text-light;

    }

    .navbar-burger {
        display: none; // Hide by default, will appear on mobile screen
        background: none;
        border: none; 
        cursor: pointer;
        position: static;
        color: $color-text-light;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;

        a{
            text-decoration: none;
            color: $color-text-light;
            font-size: $font-size-lg;
        }
    }

}


// Mobile screen version
@media (max-width: 460px) {
    nav{
        margin: 0;
        padding: 1em;
        width: 100%;
        height: 6em;

        .navbar-header {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .navbar-burger{
                display: block;
                z-index: 110;
            }
        }
    

        .navbar-links{
            position: fixed;
            background-color: rgb(115,161,155);
            height: 100vh;
            padding: 6em 2em;
            top: 0;
            right: 0;
            width: 80vw;
            align-items: flex-end;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 100;

            &.active{
                transform: translateX(0);
            }
        }
    }
}
