.gallery{
    width: 100%;
    margin: 0;
    padding: 0;

    .gallery-item{
        margin: 0;
        padding: 0;

        img{
            width: 100%;
            display: block;
            cursor: pointer;
        }
    }
}


/* Lightbox settings*/
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;

    .lightbox-content{
        max-width: 90%;
        max-height: 85%;
        text-align: center;

        img{
            max-width: 100%;
            max-height: 70vh;
        }

        .lightbox-info{
            text-align: left;

            h2 {font-weight: normal;}

            .dimension {font-style: italic;}

            .year {font-size: 0.95em;}
        }
    }
}

/* Lightbox controls*/
.lightbox-close {
    position: absolute;
    top: 4em;
    right: 4em;
    background: none;
    border: none;
}

.lightbox-prev, .lightbox-next {
    background: none;
    border: none;
    position: fixed;
    top: 50%;
    transform: translate(-50%);
}

.lightbox-prev{left: 10%;}
.lightbox-next{right: 10%;}
