html {scrollbar-gutter: stable;}

body{
    margin: 0;
}


.page-layout{
    display: flex;
    min-height: 100vh;
}

main{
    margin-left: 200px;
    flex: 1;
    padding: 4em;
}

// About Page
.essay-header{
    display: flex;
    align-items: center;
}

// Mobile screen version
@media (max-width:460px) {
    main{
        margin-left: 0;
        padding: 1em;
    }
}


