@import '../styles/variables';

.about-page{
    .intro {
        background-color: $color-background;
        padding: $space-3 $space-4;
        line-height: $line-height-normal;
    }

    .essay{
        background-color: $color-background;
        padding: $space-3 $space-4;

        .essay-header{
        display: flex;
        align-items: center;

        h2 {font-weight: 500;}
        }

    .essay-content{
        p , blockquote {
            line-height: $line-height-normal;
        }
    }

}
}